src/main/app/rabbitmq_messaging.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
    <amqp:connector name="AMQP_RabbitMQ_Connector" validateConnections="true" host="192.168.93.135" port="8090" username="mule" password="mule" doc:name="AMQP-0-9 Connector"/>
        <flow name="rabbitTopicPublisherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/amqptopic" allowedMethods="POST" doc:name="HTTP"/>
        <amqp:outbound-endpoint exchangeName="amq.topic" exchangeType="topic" exchangeDurable="true" responseTimeout="10000" connector-ref="AMQP_RabbitMQ_Connector" doc:name="AMQP-0-9"/>
        <logger message="message published : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
</mule>
